:root {
  background-color: #333;
}

header {
  background-color: crimson;
  /*background-image: url('../img/dragonrider.jpg');
  background-size: contain;
  resize: both;*/
  width: 100%;
  padding-bottom: 12px;
}

header h1 {
  color: #888;
  font-size: 3em;
  filter: drop-shadow(.08em .08em .08em #333);
  float: left;
  margin-left: 50px;
}

.banner-img {
  width: 100%;
  height: 540px;
}

.about {
  color: #ddd;
  margin-top: 20px;
  margin-left: 10px;
}

.about h3 {
  font-size: 1.5em;
  text-decoration: underline;
}

.about p {
  width: 33%;
  float: left;
}

.about p + p {
  width: 33%;
  margin-right: 10px;
  float: right;
}

.main-nav {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.main-nav ul li {
  float: left;
  text-decoration: none;
  list-style-type: none;
  padding: 5px 10px;
  border: 1px solid crimson;
  border-radius: 10% 10%;
  background-color: grey;
}

.main-nav ul li a:link {
  text-decoration: none;
  color: purple;
}

.main-nav ul li a:visited {
  text-decoration: none;
  color: darkblue;
}

.main-nav ul li a:hover {
  text-decoration: none;
  color: tomato;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
