:root {
  background-color: #333;
}

/*
 * banner
 */
header {
  background-color: crimson;
  width: 100%;
  padding-bottom: 12px;
}

header h1 {
  display: flex;
  justify-content: center;
  color: #888;
  font-size: 4em;
  filter: drop-shadow(.08em .08em .08em #333);
}

/*
* main nav
*/
.main-nav {
  margin-right: 10px;
  margin-left: 10px;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.main-nav ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  font-size: 2em;
  border: 1px solid black;
  background-color: grey;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 2px;
}

.main-nav ul li:last-child {
  margin-bottom: 0;
}

/*
* Links
*/
.main-nav ul li a {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.main-nav ul li a:link {
  text-decoration: none;
  color: purple;
}

.main-nav ul li a:visited {
  text-decoration: none;
  color: darkblue;
}

.main-nav ul li a:hover {
  text-decoration: none;
  color: darkorange;
}

/*
* image
*/
.banner-img {
  width: 100%;
  height: 240px;
}

/*
* About section
*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
}

.about h3 {
  flex-grow: 1;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

.about p {
  width: 95%;
}
